<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}Google suggestions scraper{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/dist/css/bootstrap.css.map">
    {% block header_extras %}{% endblock %}
</head>
<body>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#seo-tools-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">SEO tools</a>
        </div>

        <div class="collapse navbar-collapse" id="seo-tools-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% block navbar %}
                    {% if g.user.is_authenticated() %}
                        <li>
                            <span class="navbar-text">{{ g.user.username }}</span>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">Sign out</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('login') }}">Sign in</a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning">
                <h4 class="page-header">Messages:</h4>

                <div>
                    <ul class="list-unstyled">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>
{% block footer_extras %}{% endblock %}
</body>
</html>
